spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: password
#  flyway:
#    url: jdbc:postgresql://localhost:5432/postgres
#    user: postgres
#    password: password

  datasource:
    url: jdbc:h2:mem:myDb;DB_CLOSE_DELAY=-1
#    username: postgres
#    password: postgres
    flyway:
      url: jdbc:h2:mem:myDb;DB_CLOSE_DELAY=-1
#      user: postgres
#      password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
security:
  jwt:
    expirationTime: P2D #PT15M
server:
  port: 8080
